# Duckfish - Gavin McGinley, Julia Nelson, Tami Takada
# SoftDev
# K13 -- Template for Success - We created a template to display a list of occupations and one selected occupation.
# 2021-10-10

<!DOCTYPE html>

<html>

  <head>
    <title> {{ header }} </title>
  </head>

  <body>
    Selected Occupation Is: <b>{{randomoc}}</b><br>
    <table>
      <tr>
        <th>Occupation</th>
        <th>Weighted Percentage</th>
      </tr>
      {% for item in collection.keys() %}
      <tr>
        <td>{{item}}</td>
        <td>{{ collection[item] }}</td>
      </tr>
    {% endfor %}
    </table>
  </body>

</html>
